
P_generosa/data/CG-fuzznuc.gff.crdownload

C_virginica/data/GCA_002022765.1_C_virginica_1.0_genomic.fna

C_virginica/data/GCA_002022765.1_C_virginica_1.0_genomic.fna.gz

P_adsperus/data/P_adsperus-trans_01.fa

P_adsperus/analyses/P_adsperus-trans_01.tab
