
P_generosa/data/CG-fuzznuc.gff.crdownload

C_virginica/data/GCA_002022765.1_C_virginica_1.0_genomic.fna

C_virginica/data/GCA_002022765.1_C_virginica_1.0_genomic.fna.gz

C_gigas/data/Cg_Gigaton_proteins.fa.zip

C_gigas/data/Cg_Giga_cont_AA.fa.zip

P_adsperus/data/P_adsperus-trans_01.fa

P_adsperus/analyses/P_adsperus-trans_01.tab

*.bt2

misc/uniprot_sprot.fasta.gz.1

misc/uniprot_sprot.fasta.gz

O_lurida/data/0001DataS1.fa

O_lurida/data/sub.tgz

O_lurida/data/ol-bgisoap-161129.fa

O_lurida/data/Ostrea_lurida-Scaff-10k.fa

O_lurida/data/zr_1-sub01.fastq

O_lurida/data/ol-redundans-170608.fa

O_lurida/data/zr_1-sub001.fastq
